<!-- Registration Form -->
<form [formGroup]="registerForm">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-inputs [control]="name" placeholder="Enter Name"></app-inputs>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-inputs [control]="email" placeholder="Enter Email" type="email"></app-inputs>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-inputs [control]="age" type="number"></app-inputs>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-inputs [control]="password" type="password" placeholder="Enter password"></app-inputs>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-inputs [control]="confirmPassword" type="password" placeholder="Enter password"></app-inputs>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-inputs [control]="phoneNumber" format="(000) 000 - 0000"
                placeholder="Enter Phone Number"></app-inputs>
  </div>
  <button type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500">
    Submit
  </button>
</form>
